In [ ]:
#Question1.Discuss string slicing and provide examples.
# Answer1.String slicing means to extract substring or part of string from string.
# Syntax:- String[start:end:step]
# Start- Index at which slice begins.
# End - Index at which slice ends. It exlude the last index value.
# Step - It determines the step size.

In [67]:
a = "Data Analyst"
a[0:5]

'Data '

In [68]:
b = "I am studying Python"
b[0:15:2]

'Ia tdigP'

In [69]:
b[::-1]

'nohtyP gniyduts ma I'

In [70]:
c = "How are you"
c[-3:]

'you'

In [ ]:
# Question2. Explain the key features of lists in python?
# Answer 2. List is an ordered collection of elements.
# List is mutable, it means we can change the elements of list after the list has been created.
# List can store heterogeneous data.
# List supports slicing, means we can extract some part of list.

In [71]:
l = ["English","Hindi", True, False, None, 5, 2+3j, 3.5]
l

['English', 'Hindi', True, False, None, 5, (2+3j), 3.5]

In [72]:
l[0:5]

['English', 'Hindi', True, False, None]

In [73]:
l[1] = "Mathematics"
l

['English', 'Mathematics', True, False, None, 5, (2+3j), 3.5]

In [74]:
# Question3. Describe how to access, modify, and delete elements in a list with examples.

In [75]:
# Accessing - list can be accessed by using their index.
x = ["Mango", "Orange", "Banana", "Pineapple", 5, 3.5,"Red"]
u = x[-1]
u

'Red'

In [76]:
# Modifying - list are mutable, so we can modify element by assigning and adding new value.
x[1] = "Guava"
x

['Mango', 'Guava', 'Banana', 'Pineapple', 5, 3.5, 'Red']

In [77]:
x.append("Grapes")
x

['Mango', 'Guava', 'Banana', 'Pineapple', 5, 3.5, 'Red', 'Grapes']

In [ ]:
# Delete - we can delete element by using remove, pop, clear.

In [78]:
# it delete the given element from list.
x.remove("Mango")
x

['Guava', 'Banana', 'Pineapple', 5, 3.5, 'Red', 'Grapes']

In [79]:
# it delete the element of given index.
x = ["Mango", "Orange", "Banana", "Pineapple", 5, 3.5,"Red"]
x.pop(2)
x

['Mango', 'Orange', 'Pineapple', 5, 3.5, 'Red']

In [80]:
# it clear all the element of list.
x = ["Mango", "Orange", "Banana", "Pineapple", 5, 3.5,"Red"]
v = x.clear()
v

In [ ]:
# Question4. Compare and contrast tuples and lists with examples.

In [81]:
#Tuples:-
# It is immutable.
# It is represented by using paraentheses().
# It is used for fixed data type.
# It is hashable, can be used as dictionary key
tup = (5, 2, "rohan", "sohan", 2.5, True, None)
tup

(5, 2, 'rohan', 'sohan', 2.5, True, None)

In [82]:
t = (tup,100,101)
t

((5, 2, 'rohan', 'sohan', 2.5, True, None), 100, 101)

In [83]:
#List:-
# It is mutable.
# It is represented by using square bracket[].
# It is used for dynamic data type.
# It is unhashable, can not be used as dictionary key
Lis = [5, 2, "rohan", "sohan", 2.5, True, None]
Lis

[5, 2, 'rohan', 'sohan', 2.5, True, None]

In [84]:
Lis[2] = "Manish"
Lis

[5, 2, 'Manish', 'sohan', 2.5, True, None]

In [85]:
Lis.append("Vijay")
Lis

[5, 2, 'Manish', 'sohan', 2.5, True, None, 'Vijay']

In [86]:
L = [Lis,100,101]
L

[[5, 2, 'Manish', 'sohan', 2.5, True, None, 'Vijay'], 100, 101]

In [ ]:
# Question5. Describe the Key features of sets and provide examples of their use.
# Answer5. Key features of sets:-
# It is unordered collection of elements.
# It is unique collection of elements, i.e it removes duplicate elements.
# It is mutable.
# It supports set operations such as union, intersection, difference and symmetric difference.

In [87]:
# Examples
S1 = {"red", "green","Pink","Black","Blue"}
S1.add("Yellow")
S1

{'Black', 'Blue', 'Pink', 'Yellow', 'green', 'red'}

In [88]:
S1.discard("Yellow")
S1

{'Black', 'Blue', 'Pink', 'green', 'red'}

In [89]:
# set operations
S1 = {"red", "green","Pink","Black","Blue"}
S2 = {"green", "Pink","Voilet", "Brown", "Silver"}
S1|S2

{'Black', 'Blue', 'Brown', 'Pink', 'Silver', 'Voilet', 'green', 'red'}

In [90]:
S1&S2

{'Pink', 'green'}

In [91]:
S1-S2

{'Black', 'Blue', 'red'}

In [92]:
S1^S2

{'Black', 'Blue', 'Brown', 'Silver', 'Voilet', 'red'}

In [ ]:
# Question6. Discuss the use cases of tuples and sets in Python programming.
# Answer6. Use Case of tuples and sets.
# Tuple is used for immutable data while set is used for mutable data.
# Tuple can be used for duplicate value or repeated value while set is used for unique value.
# Tuple is used as a dictionary keys but set is not used.
# Tuple does not support mathematical operations while set supports mathematical operations such as union, intersection, difference etc.

In [93]:
#Tuple
j = (1,2,3,7,9,9,2)
j

(1, 2, 3, 7, 9, 9, 2)

In [94]:
# Set
K = {1,2,3,7,9,9,2}
K

{1, 2, 3, 7, 9}

In [ ]:
#Question7. Describe how to add, modify, and delete items in a dictionary with examples.
# Answer7. Dictionary is a type of data structure which store data in the form of Key value pair.
# Example - Resturant menu, phonebook etc.

In [95]:
menu = {"Burger":50, "Roll":80, "Noddles":110, "Pizza":90}
menu

{'Burger': 50, 'Roll': 80, 'Noddles': 110, 'Pizza': 90}

In [96]:
#Add
menu["Dosa"] = 120
menu

{'Burger': 50, 'Roll': 80, 'Noddles': 110, 'Pizza': 90, 'Dosa': 120}

In [97]:
# Modify
menu["Burger"] = 65
menu

{'Burger': 65, 'Roll': 80, 'Noddles': 110, 'Pizza': 90, 'Dosa': 120}

In [98]:
# It Delete given element
menu.pop("Dosa")

120

In [99]:
menu

{'Burger': 65, 'Roll': 80, 'Noddles': 110, 'Pizza': 90}

In [100]:
# It delete all elements
o = {"odd":7,"even":8}
o.clear()
o

{}

In [101]:
# It delete complete dictionary
del o

In [ ]:
#Question8. Discuss the importance of dictionary keys being immutable and provide examples.
#Answer8. Dictionary key must be immutable because:
#Consistency - The key must always stay same.If it change, python wouldn't know where to find the value.
#Efficency - Python uses a hashing sytem. Changing a key would be problem for this system.

In [102]:
Dictionary = {(2,4,6): "even number",(1,3,5):"odd number"}
Dictionary

{(2, 4, 6): 'even number', (1, 3, 5): 'odd number'}

In [103]:
Dictionary[(1.5,5.7)] = float

In [66]:
Dictionary

{(2, 4, 6): 'even number', (1, 3, 5): 'odd number', (1.5, 5.7): float}